@import "common/foundation/variables";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topic-meta-data .names {
  flex-wrap: wrap;

  & > span:not(.moderator) {
  	margin-right: 10px;
  }

  .poster-solutions-container {
    display: flex;
    order: 2;

    opacity: 1;
    animation: fadeIn 0.75s ease;

    .poster-icon {
      display: flex;
      align-items: center;

      margin: 0 8px 0 0;
      color: var(--primary-med-or-secondary-med);

      .d-icon-check-square {
        color: green;
        opacity: .6;
        margin-right: .25em;
      }
    }
  }
}
