@import "common/foundation/variables";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topic-meta-data .names {
  flex-wrap: wrap;

  & > span:not(.moderator) {
  	margin-right: 10px;
  }

  .poster-solutions-container {
    order: 2;

    opacity: 1;
    animation: fadeIn 0.5s ease;

    .poster-icon {
      overflow: visible;
      margin: 0 8px 0 0;
      color: var(--primary-med-or-secondary-med);

      .d-icon-check-square {
        color: green;
        opacity: .6;
      }
    }
  }
}
